<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erniwo.timetableconstruct">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_original"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round__original"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimetableConstruct">
        <activity
            android:name=".admin.AdminManageTeacherTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminCourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAddNewTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAddNewClassActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminEditClassTimeTableActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminManageListOfTeachersActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminManageClassTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminManageListOfClassesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.TeacherTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".student.StudentTimetableActivity"
            android:exported="false" />
    </application>

</manifest>